aws_region         = "eu-central-1"
artifact_s3_bucket = "my-stackalert-artifacts"
artifact_s3_key    = "stackalert-lambda/latest.zip"

# Email to subscribe to the SNS topic (confirm subscription via email)
alert_email = "oncall@example.com"

environment = "prod"
setup_name  = "SNS Alerts"
